.section {
  padding-top: 61px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #fcfcfc;
  background-color: #84a178;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
}

/* Container */
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.about-section {
  text-align: center;
}

.about__tittle {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2222222222;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .about__tittle {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.2272727273;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .about__tittle {
    font-size: 30px;
    line-height: 1.2333333333;
  }
}

.about__made-tittle {
  max-width: 200px;
  margin-bottom: 32px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2666666667;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .about__made-tittle {
    margin-bottom: 72px;
    width: auto;
    max-width: none;
    font-size: 34px;
    line-height: 1.2647058824;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .about__made-tittle {
    margin-bottom: 82px;
    font-size: 36px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 768px) {
  .about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about__img-thumb {
  margin-bottom: 40px;
  position: relative;
  max-width: 320px;
}
.about__img-thumb::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 278px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(248, 210, 78, 0.7)), to(rgba(248, 210, 78, 0.7))), #d9d9d9;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  -webkit-box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
          box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 140px;
}
@media screen and (min-width: 768px) {
  .about__img-thumb {
    max-width: none;
    margin-bottom: 0;
    margin-right: 38px;
  }
}
@media screen and (min-width: 1200px) {
  .about__img-thumb {
    margin-right: 110px;
  }
}

@media screen and (min-width: 768px) {
  .about__img-thumb::before {
    width: 330px;
    height: 330px;
    max-height: none;
    border-radius: 165px;
    -webkit-box-shadow: 0px 5.30813px 19.9055px rgba(153, 114, 23, 0.25);
            box-shadow: 0px 5.30813px 19.9055px rgba(153, 114, 23, 0.25);
  }
}
@media screen and (min-width: 1200px) {
  .about__img-thumb::before {
    width: 490px;
    height: 490px;
    border-radius: 250px;
    -webkit-box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
            box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
  }
}

.about__mobile-img {
  width: 100%;
  padding-top: 22px;
}
@media screen and (min-width: 768px) {
  .about__mobile-img {
    display: none;
  }
}

.about__tablet-img {
  display: none;
}
@media screen and (min-width: 768px) {
  .about__tablet-img {
    display: block;
    padding-top: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .about__tablet-img {
    display: none;
  }
}

.about__desktop-img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about__desktop-img {
    display: block;
    padding-top: 39px;
  }
}

.about__paragraphs {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  .about__paragraphs {
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .about__paragraphs p {
    margin-bottom: 8px;
  }
  .about__paragraphs p:last-of-type {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .about__paragraphs p:last-of-type {
    margin-bottom: 54px;
  }
}

.first-paragraph {
  margin-bottom: 4px;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 1200px) {
  .first-paragraph {
    font-size: 16px;
    line-height: 1.75;
  }
}

.second-paragraph {
  margin-bottom: 10px;
  line-height: 1.5833333333;
}
@media screen and (min-width: 768px) {
  .second-paragraph {
    line-height: 1.75;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .second-paragraph {
    font-size: 14px;
    line-height: 1.9285714286;
  }
}

.third-paragraph {
  display: none;
}
@media screen and (min-width: 768px) {
  .third-paragraph {
    display: block;
    line-height: 1.9166666667;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .third-paragraph {
    font-size: 14px;
    line-height: 1.9285714286;
  }
}

.read-more-icon {
  margin-left: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.read-more-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 35px 12px 34px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2857142857;
  color: #000000;
  background-color: #f8d24e;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.read-more-btn:hover {
  background-color: #0a8817;
}
.read-more-btn:focus {
  color: #fcfcfc;
  background-color: #0a8817;
}
.read-more-btn:focus .read-more-icon {
  fill: #fcfcfc;
}
.read-more-btn:disabled {
  background-color: #ababab;
}

.read-more__close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.read-more-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 280px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
}
.read-more-modal.is-open {
  padding: 28px;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background-color: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: all;
}

.read-more__tittle {
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #131313;
  margin-bottom: 20px;
}

.read-more__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
  color: #131313;
}

.read-more__video {
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */